body {
	font-family: serif;
	font-size:10px;
	background-image: url(s-l1600.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    color: #0c250c;
}

h1, h2 {
	font-weight:normal;
	text-align:center;
	background-color: #fffc5c;
}

#quotes {
	display: flex;
	flex-wrap:wrap; 
	justify-content: left;
}

.quote{
	padding:20px;
	margin:20px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.yellow {
	background-color:#99ff71;
}

.green {
	background-color:#fffc5c;
}

.indifferent {
	border: 2px dashed;
}

.info{
	display: inline-block;
}

